SDS_BASE_URL=https://laa-sds-test.apps.live.cloud-platform.service.justice.gov.uk
SDS_TENANT_ID=sds-entra-tenant-id
SDS_CLIENT_ID=sds-entra-client-id
SDS_CLIENT_SECRET=sds-entra-client-secret
SDS_SCOPE=api://laa-sds-test/.default

PROVIDER_API_BASE_URL=https://laa-provider-details-api-uat.apps.live.cloud-platform.service.justice.gov.uk/
PROVIDER_API_KEY=provider-details-api-key

GOV_NOTIFY_API_KEY=gov-notify-api-key
GOV_NOTIFY_APPLICATION_REFUSE_TEMPLATE_ID=gov-notify-refuse-template-id
GOV_NOTIFY_APPLICATION_GRANT_TEMPLATE_ID=gov-notify-grant-template-id
GOV_NOTIFY_APPLICATION_SUBMIT_TEMPLATE_ID=gov-notify-submit-template-id

INQUESTS_API_TENANT_ID=entra-tenant-id
INQUESTS_API_CLIENT_ID=api://inquests-api-client-id